.Card {
  border-radius: 10px;
  position: relative;
  flex: 0 0 25%;
  margin: 1rem;
  height: min-content;
}
.Card-Container {
  width: 100%;
  height: min(25vh);
  display: inline-block;
  background: transparent;

}
.Card-Title {
  width: 100%;
  position: absolute;
  top: -5%;
  left: 4%;
  width: auto;
  font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1600 - 300)));
  text-transform: uppercase;
}

/* CardEducation - Styling */
.CardEducation {
  padding: 1rem;
  font-size: 1.5rem;
  justify-self: start;
  align-self: center;
}
.CardEducation-Degree {
  margin: 0.5rem auto;
}
.CardEducation-Date {
  margin: 0.5rem auto;
}

/* CardExperience - Styling */
.CardExperience {
  padding: 1rem;
}
.CardExperience-Company {
  display: flex;
  justify-content: space-between;
}

.CardExperience-Company span:nth-child(1) {
  font-weight: 500;
  font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.CardExperience-Company span:nth-child(2) {
  font-style: oblique 10deg;
  font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.CardExperience-Description {
  list-style: none;
  text-align: left;
  padding-inline-start: 0;
}
.CardExperience-Description li {
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  margin-top: 0.5rem;
  list-style: none;
}

/* CardSkills - Styling */
.CardSkills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
  box-sizing: border-box;
  padding: 0.5rem;
  margin-top: 1rem;
}
.CardSkills-Icon {
  width: 3rem;
}

/*CardProjects Styling */
.CardProjects {
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.CardProjects-FlipBody {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 65%;
  transform-style: preserve-3d;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -o-transition: transform 1s;
}

.CardProjects-Front {
  width: 100%;
  height: 80%;
  position: absolute;
  backface-visibility: hidden;
  filter: brightness(50%);
}

.CardProjects-Image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
} 

.CardProjects-MadeWith {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
}

.CardProjects-MadeWithIcon {
  flex: 1;
  max-width: 10%;
}

.CardProjects-Back {
  width: 100%;
  height: 80%;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  margin-top: 0.5rem;
  padding: 1rem;
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  box-sizing: border-box;
}

.Back-Description p {
   margin-block-end: 10px;
}

.back {
  transform: rotateY(180deg);
}

.CardProjects-Footer {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin-top: 1rem;
}

.CardProjects-FooterIcon {
  font-size: max(2rem);
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) {
  .Card {
    flex: 0 0 40%;
  }
}

@media (max-width: 575.98px) {
  .Card {
    flex: 0 0 80%;
  }
}