.Footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  height: 10vh;
}

.Footer-Contact {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.contactCard {
  text-decoration: none;
}

.contactIcon {
  text-decoration: none;
  font-size: 2.5rem;
  border-radius: 50px;
  padding: 0.5vw 1vw;
  background-clip: padding-box;
}

.contactIcon:hover {
  transition: ease-in-out 500ms;
}