.Navbar {
  /* background-color: rgba(205,217,167, 1); */
  background-color: rgba(0,75,75,0.5);
  position: sticky;
  top: 0;
  height: 7vh;
  display: flex;
  flex-flow: row nowrap;
  font-size: calc(6px + 14 * (100vw - 300px) / 1300);
}

 .Navbar-LinkContainer {
  flex: 1 1 85%;
  display: flex;
  justify-self: space-evenly;
  text-align: center;
}

.Navbar-Link {
  flex: 1 1 25%;
  max-width: 25%;
  text-decoration: none;
  color: black;
  align-self: center;
  text-transform: uppercase;
  font-weight: 600;
  transition: ease-in-out 500ms;
}

.Navbar-ActiveLink {
  color: aliceblue;
  font-size: 1.5em;
  transition: ease-out 1000ms;
}

.Navbar-ActiveBlock {
  display: block;
  transition: ease-in-out 500ms;
}

.Navbar-InactiveBlock {
  display: none;
  transition: ease-in-out 500ms;
}

hr {
  color: aliceblue;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 30%;
}

.Navbar-ControlBox {
  flex: 1 1 15%;
  max-width: 15%;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Navbar-ControlButton {
  max-width: 25%;
  font-size: 1rem;
}

@media (max-width: 575.98px) {
  .Navbar-LinkContainer {
    display: none;
  }
  .Navbar {
    justify-content: start;
  }
}