.Page {
  display: block;
  width: 100%;
  height: 93vh;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.Page-title {
  background-color: aliceblue;
  height: 10%;
  text-align: start;
  display: none;
}

.Page-title {
  padding: 1.5rem;
  margin: 0;
}

.Page-body {
  width: 100%;
  height: 100%;
  color: aliceblue;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .Page-title {
    text-align: center;
  }
}